<div class="row">
    <div class="col-sm-12 col-md-6">
        <fieldset class="row gx-3">
            <legend>Dados Pessoais</legend>
            <div class="form-floating mb-3">
                <input class="form-control"
                    type="text" name="nome"
                    placeholder=" " autofocus value="{{nome_completo}}"/>
                <label for="txtNome">Nome</label>
            </div>
            <div class="form-floating mb-3
                col-md-6 col-xl-4">
                <input class="form-control"
                    type="text" name="cpf"
                    placeholder=" "value="{{cpf}}" />
                <label for="txtCPF">CPF</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Contatos</legend>
            <div class="form-floating mb-3
                col-md-8">
                <input class="form-control"
                    type="email" name="email"
                    placeholder=" " value="{{email}}"/>
                <label for="txtEmail">E-mail</label>
            </div>
            <div class="form-floating mb-3
                col-md-6">
                <input class="form-control"
                    placeholder=" " type="text"
                    name="telefone" value="{{telefone}}"/>
                <label for="txtTelefone">Telefone</label>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-6">
        <fieldset class="row gx-3">
            <legend>Endereço</legend>
            <div class="form-floating mb-3
                col-md-6 col-lg-4">
                <input class="form-control"
                    type="text" name="cep"
                    placeholder=" "value="{{cep}}" />
                <label for="cep">CEP</label>
            </div>
            <div class="clearfix"></div>
            <div class="form-floating mb-3
                col-md-4">
                <input class="form-control"
                    type="text" name="estado"
                    placeholder=" " value="{{estado}}"/>
                <label for="estado">Estado</label>
            </div>
            <div class="form-floating mb-3
                col-md-8">
                <input class="form-control"
                    type="text" name="cidade"
                    placeholder=" " value="{{cidade}}" />
                <label for="cidade">Cidade</label>
            </div>
           
        </fieldset>
    </div>
</div>